@font-face {
    font-family: 'Special Elite';
    src: local('Special Elite'),
    local('Special Elite Regular'),
    url('/manual-parser/SpecialElite-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Special Elite', 'Courier New', monospace;
    background: url("https://bombmanual.com/web/img/background/web-background.jpg");
}

.module {
    background-color: #fff;
    padding: 5% 8.8%;
    margin: 1em auto;
    width: 40em;
    box-shadow: #222 0.0em 0 0.6em;
}

.flavour-text {
    font-style: italic;
    font-size: 75%;
    margin-top: .5em;
}

img {
    width: 9em;
    margin-bottom: .5em;
    margin-left: .5em;
    float: right;
}

strong {
    font-weight: bolder;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

table,
th,
td {
    border: 1px solid black;
}